
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #cfe8ff; /* light blue */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER & FOOTER */
header, footer {
  background: #0a1f44; /* navy */
  color: white;
  text-align: center;
  padding: 15px;
}

footer {
  margin-top: auto;
}

/* MAIN */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transform: rotateY(90deg);
  animation: flipIn 1s forwards;
}

@keyframes flipIn {
  to {
    transform: rotateY(0);
  }
nav {
  background: #0b2545;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* LINKS */
nav a {
  color: #38bdf8; /* light blue text */
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

/* ICONS */
nav a i {
  color: #020617; /* navy blue icons */
  font-size: 18px;
}

/* HOVER EFFECT */
nav a:hover {
  background: #1e3a8a;
  color: #facc15; /* gold on hover */
}

nav a:hover i {
  color: white;
}

/* TEXT */
h2 {
  margin-bottom: 15px;
  color: #0a1f44;
}

p {
  margin: 10px 0;
  color: #333;
}

/* ICONS */
.icon {
  color: #0a1f44;
  margin-right: 8px;
  
  .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  text-align: center;
  }

/* BUTTONS */
.links {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #0a1f44;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #163a7a;
}
